################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonteCarloCore/obj
/MonteCarloCore/bin
/MonteCarloSimulator/obj
/MonteCarloSimulator/bin
